USE [master]
GO
/****** Object:  Database [HlebZavod1]    Script Date: 02.06.2026 13:58:43 ******/
CREATE DATABASE [HlebZavod1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HlebZavod1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HlebZavod1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HlebZavod1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HlebZavod1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HlebZavod1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HlebZavod1]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserSecondName] [nvarchar](50) NOT NULL,
	[UserFirstName] [nvarchar](50) NOT NULL,
	[UserPatronymic] [nvarchar](50) NOT NULL,
	[UserRoleKey] [int] NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[IsBlocked] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Login] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Users]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Users] AS
SELECT 
    u.UserID,
    u.UserSecondName,
    u.UserFirstName,
    u.UserPatronymic,
    CONCAT(u.UserSecondName, ' ', u.UserFirstName, ' ', u.UserPatronymic) AS FullName,
    r.RoleName,
    u.Login,
    u.IsBlocked,
    u.CreatedAt
FROM Users u
INNER JOIN Roles r ON u.UserRoleKey = r.RoleID
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](50) NOT NULL,
	[ClientINN] [char](10) NULL,
	[ClientAddressKey] [int] NOT NULL,
	[ClientPhone] [char](11) NOT NULL,
	[ClientSalesmanBool] [bit] NOT NULL,
	[ClientBuyerBool] [bit] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderExecutors]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderExecutors](
	[OrderExecutorID] [int] IDENTITY(1,1) NOT NULL,
	[OrderExecutorName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_OrderExecutors] PRIMARY KEY CLUSTERED 
(
	[OrderExecutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[ProductKey] [int] NOT NULL,
	[ProductQuantity] [tinyint] NOT NULL,
	[Weight] [decimal](5, 2) NOT NULL,
	[Summ] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderExecutorKey] [int] NOT NULL,
	[ClientKey] [int] NOT NULL,
	[OrderItemKey] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Orders]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Orders] AS
SELECT 
    o.OrderID,
    oe.OrderExecutorName AS Executor,
    c.ClientName AS Client,
    o.OrderDate,
    o.Status,
    oi.ProductQuantity,
    oi.Summ AS OrderSumm
FROM Orders o
INNER JOIN OrderExecutors oe ON o.OrderExecutorKey = oe.OrderExecutorID
INNER JOIN Clients c ON o.ClientKey = c.ClientID
INNER JOIN OrderItems oi ON o.OrderItemKey = oi.OrderItemID
GO
/****** Object:  Table [dbo].[MeasureUnits]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeasureUnits](
	[MeasureUnitID] [int] IDENTITY(1,1) NOT NULL,
	[MeasureUnitName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MeasureUnits] PRIMARY KEY CLUSTERED 
(
	[MeasureUnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[ManufacturerID] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[ProductFatPercent] [tinyint] NOT NULL,
	[Weight] [decimal](5, 2) NOT NULL,
	[MeasureUnitKey] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSpecifications]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSpecifications](
	[ProductSpecificationID] [int] IDENTITY(1,1) NOT NULL,
	[ProductionProductKey] [int] NOT NULL,
	[ManufacturerKey] [int] NOT NULL,
 CONSTRAINT [PK_ProductSpecifications] PRIMARY KEY CLUSTERED 
(
	[ProductSpecificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductSpecifications]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ProductSpecifications] AS
SELECT 
    ps.ProductSpecificationID,
    p.ProductName,
    p.ProductFatPercent,
    p.Weight,
    m.MeasureUnitName,
    p.Price,
    man.ManufacturerName
FROM ProductSpecifications ps
INNER JOIN Products p ON ps.ProductionProductKey = p.ProductID
INNER JOIN Manufacturers man ON ps.ManufacturerKey = man.ManufacturerID
INNER JOIN MeasureUnits m ON p.MeasureUnitKey = m.MeasureUnitID
GO
/****** Object:  Table [dbo].[ClientAddresses]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientAddresses](
	[ClientAddressID] [int] IDENTITY(1,1) NOT NULL,
	[ClientAddressCity] [nvarchar](50) NOT NULL,
	[ClientAddressStreet] [nvarchar](50) NOT NULL,
	[ClientAddressBuilding] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ClientAddresses] PRIMARY KEY CLUSTERED 
(
	[ClientAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[MeasureUnitKey] [int] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionMaterials]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionMaterials](
	[ProductionMaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialKey] [int] NOT NULL,
	[MaterialQuantity] [tinyint] NOT NULL,
 CONSTRAINT [PK_ProductionMaterials] PRIMARY KEY CLUSTERED 
(
	[ProductionMaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionProducts]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionProducts](
	[ProductionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductionDate] [date] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[Weight] [decimal](5, 2) NOT NULL,
	[ProductionMaterialKey] [int] NOT NULL,
 CONSTRAINT [PK_ProductionProducts] PRIMARY KEY CLUSTERED 
(
	[ProductionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Clients_Salesman]  DEFAULT ((0)) FOR [ClientSalesmanBool]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Clients_Buyer]  DEFAULT ((0)) FOR [ClientBuyerBool]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Date]  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT ('Processing') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [FK_Clients_Addresses] FOREIGN KEY([ClientAddressKey])
REFERENCES [dbo].[ClientAddresses] ([ClientAddressID])
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [FK_Clients_Addresses]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_MeasureUnits] FOREIGN KEY([MeasureUnitKey])
REFERENCES [dbo].[MeasureUnits] ([MeasureUnitID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_MeasureUnits]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([ClientKey])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Executors] FOREIGN KEY([OrderExecutorKey])
REFERENCES [dbo].[OrderExecutors] ([OrderExecutorID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Executors]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderItems] FOREIGN KEY([OrderItemKey])
REFERENCES [dbo].[OrderItems] ([OrderItemID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderItems]
GO
ALTER TABLE [dbo].[ProductionMaterials]  WITH CHECK ADD  CONSTRAINT [FK_ProdMaterials_Materials] FOREIGN KEY([MaterialKey])
REFERENCES [dbo].[Materials] ([MaterialID])
GO
ALTER TABLE [dbo].[ProductionMaterials] CHECK CONSTRAINT [FK_ProdMaterials_Materials]
GO
ALTER TABLE [dbo].[ProductionProducts]  WITH CHECK ADD  CONSTRAINT [FK_ProdProducts_ProdMaterials] FOREIGN KEY([ProductionMaterialKey])
REFERENCES [dbo].[ProductionMaterials] ([ProductionMaterialID])
GO
ALTER TABLE [dbo].[ProductionProducts] CHECK CONSTRAINT [FK_ProdProducts_ProdMaterials]
GO
ALTER TABLE [dbo].[ProductionProducts]  WITH CHECK ADD  CONSTRAINT [FK_ProdProducts_Products] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductionProducts] CHECK CONSTRAINT [FK_ProdProducts_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_MeasureUnits] FOREIGN KEY([MeasureUnitKey])
REFERENCES [dbo].[MeasureUnits] ([MeasureUnitID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_MeasureUnits]
GO
ALTER TABLE [dbo].[ProductSpecifications]  WITH CHECK ADD  CONSTRAINT [FK_ProductSpec_Manufacturers] FOREIGN KEY([ManufacturerKey])
REFERENCES [dbo].[Manufacturers] ([ManufacturerID])
GO
ALTER TABLE [dbo].[ProductSpecifications] CHECK CONSTRAINT [FK_ProductSpec_Manufacturers]
GO
ALTER TABLE [dbo].[ProductSpecifications]  WITH CHECK ADD  CONSTRAINT [FK_ProductSpec_Products] FOREIGN KEY([ProductionProductKey])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductSpecifications] CHECK CONSTRAINT [FK_ProductSpec_Products]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([UserRoleKey])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddOrder]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddOrder]
    @ClientName NVARCHAR(50),
    @ProductName NVARCHAR(50),
    @Quantity TINYINT
AS
BEGIN
    DECLARE @ClientID INT, @ProductID INT, @OrderItemID INT, @Price DECIMAL(18,2), @Summ DECIMAL(18,2);
    
    SELECT @ClientID = ClientID FROM Clients WHERE ClientName = @ClientName;
    SELECT @ProductID = ProductID, @Price = Price FROM Products WHERE ProductName = @ProductName;
    
    SET @Summ = @Price * @Quantity;
    
    INSERT INTO OrderItems (ProductKey, ProductQuantity, Weight, Summ)
    VALUES (@ProductID, @Quantity, 0, @Summ);
    
    SET @OrderItemID = SCOPE_IDENTITY();
    
    INSERT INTO Orders (OrderExecutorKey, ClientKey, OrderItemKey, OrderDate)
    VALUES (1, @ClientID, @OrderItemID, GETDATE());
    
    SELECT SCOPE_IDENTITY() AS NewOrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUser]    Script Date: 02.06.2026 13:58:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddUser]
    @SecondName NVARCHAR(50),
    @FirstName NVARCHAR(50),
    @Patronymic NVARCHAR(50),
    @RoleName NVARCHAR(50),
    @Login NVARCHAR(100),
    @Password NVARCHAR(255)
AS
BEGIN
    DECLARE @RoleKey INT;
    
    SELECT @RoleKey = RoleID FROM Roles WHERE RoleName = @RoleName;
    
    IF @RoleKey IS NULL
    BEGIN
        RAISERROR('Роль не найдена', 16, 1);
        RETURN;
    END
    
    INSERT INTO Users (UserSecondName, UserFirstName, UserPatronymic, UserRoleKey, Login, PasswordHash)
    VALUES (@SecondName, @FirstName, @Patronymic, @RoleKey, @Login, @Password);
    
    SELECT SCOPE_IDENTITY() AS NewUserID;
END
GO
USE [master]
GO
